.field-validation-container {
	&.invalid {
		.dx-textbox,
		.dx-textarea {
			border-color: red;
		}
	}
 
	.error-box{
		border: 1px solid red;
		background-color: #f1c2c2;
		padding: 8px;
	}
}

ImageUploader {
	&.invalid {
		border-color: red;
	}
}
