.add-product {
	display: flex;
	justify-content: center;
	.hidden {
		display: none;
	}
}

.hidden {
	display: none;
}

hr {
	height: 1px;
	margin: 40px 0px;
	background-color: #ccc;
	border: none;
}
