@import '../../../theme/variables.scss';

.skuform-container {
	border: 1px solid;
	border-color: var($--theme-core-layout-border-color);
	margin: 20px;

	.skuform-header {
		padding: 10px;
		background-color: var($--theme-alertblock-info-background-color);
		color: var($--theme-alertblock-info-text-color);
		cursor: pointer;
		font-size: 24px;
	}

	.skuform-body {
		padding: 10px;

		&.collapsed {
			display: none;
		}
	}
}

.type-selection {
	.type-selection-options {
		display: flex;

		.type-selection-option {
			display: flex;
			flex-direction: column;
		}
	}
}

.hidden {
	display: none;
}
